<div class='col-md-4' style='text-align: center'>
  <img style='width: 300px; height: 200px;' src="{{topthree.imagetop}}"/>
  <div style='background-color: rgba(255,200,200,0.7); margin-top: -50px; position: relative; z-index: 10;'>
    <h3>{{topthree.title}}</h3>
    <p>by {{topthree.writer}}</p>
  </div>
</div>
