{{!-- The following component displays Ember's default welcome message. --}}

<nav class="navbar navbar-default">
  <div class="container-fluid" style='text-align: center; margin-top: 15px'>
    {{#link-to 'index'}}Bustle{{/link-to}}
  </div>
</nav>

{{!-- Feel free to remove this! --}}

{{outlet}}
