{{!-- The following component displays Ember's default welcome message. --}}

<nav class="navbar navbar-default">
  <div class="container-fluid" style='text-align: center; margin-top: 0px; background: white;'>
    {{#link-to 'index'}}<img style='height: 80px; margin-top: 0px;' src='https://amymackelden.files.wordpress.com/2017/02/bustle-logo.png?w=640'/>{{/link-to}}
  </div>
</nav>

{{!-- Feel free to remove this! --}}

{{outlet}}
